In [1]:
import pandas as pd
import csv

In [8]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
response = pd.read_html(url)[0]

response.to_csv(r'rawdata.csv', mode='a',encoding='UTF-8',header=1,index=0)
print('Done')

Done

In [11]:
df = pd.read_csv(r'rawdata.csv')

In [12]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [20]:
df = df[df['Borough'] != "Not assigned"]

SyntaxError: invalid syntax (<ipython-input-20-f7deec4fd35f>, line 1)

In [19]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights